@import "tailwindcss";

/* Regular Font */
@font-face {
  font-family: "DM Sans";
  font-display: swap;
  src: url("./fonts/DMSans-Regular.ttf");
}

/* Medium Font */
@font-face {
  font-family: "DM Sans Medium";
  font-display: swap;
  src: url("./fonts/DMSans-Medium.ttf");
}

/* Bold Font */
@font-face {
  font-family: "DM Sans Bold";
  font-display: swap;
  src: url("./fonts/DMSans-Bold.ttf");
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  /* Washed Purple */
  --color-washedPurple-50: #f8f7ff;
  --color-washedPurple-100: #e8e7ff;
  --color-washedPurple-200: #dddcff;
  --color-washedPurple-300: #cdcbff;
  --color-washedPurple-400: #c4c1ff;
  --color-washedPurple-500: #b5b2ff;
  --color-washedPurple-600: #a5a2e8;
  --color-washedPurple-700: #817eb5;
  --color-washedPurple-800: #64628c;
  --color-washedPurple-900: #4c4b6b;

  /* Washed Blue */
  --color-washedBlue-50: #f0f3ff;
  --color-washedBlue-100: #d0daff;
  --color-washedBlue-200: #bac9ff;
  --color-washedBlue-300: #9ab0ff;
  --color-washedBlue-400: #86a1ff;
  --color-washedBlue-500: #6889ff;
  --color-washedBlue-600: #5f7de8;
  --color-washedBlue-700: #4a61b5;
  --color-washedBlue-800: #394b8c;
  --color-washedBlue-900: #2c3a6b;

  --color-primaryBlue-50: #e6f0ff;
  --color-primaryBlue-100: #b1d1ff;
  --color-primaryBlue-200: #8cbaff;
  --color-primaryBlue-300: #a5c5fd;
  --color-primaryBlue-400: #3687ff;
  --color-primaryBlue-500: #0d6efd;
  --color-primaryBlue-600: #0460e8;
  --color-primaryBlue-700: #034bb5;
  --color-primaryBlue-800: #02318c;
  --color-primaryBlue-900: #022c6b;

  --color-primaryPurple-50: #f1e6ff;
  --color-primaryPurple-100: #d3bdff;
  --color-primaryPurple-200: #bd8aff;
  --color-primaryPurple-300: #9f54ff;
  --color-primaryPurple-400: #8d33ff;
  --color-primaryPurple-500: #7000ff;
  --color-primaryPurple-600: #6600e8;
  --color-primaryPurple-700: #5000b5;
  --color-primaryPurple-800: #3e008c;
  --color-primaryPurple-900: #2f006d;

  --color-neutral-1: #ffffff;
  --color-neutral-2: #fcfcfd;
  --color-neutral-3: #f5f5f6;
  --color-neutral-4: #f0f0f1;
  --color-neutral-5: #d9d9dc;
  --color-neutral-6: #c0bfc4;
  --color-neutral-7: #8e8c95;
  --color-neutral-8: #8f8f8f;
  --color-neutral-9: #474553;
  --color-neutral-10: #292637;
  --color-neutral-11: #211f30;
  --color-neutral-12: #171427;
  --color-neutral-13: #030014;

  --font-dmSans-regular: "DM Sans", sans-serif;
  --font-dmSans-medium: "DM Sans Medium", sans-serif;
  --font-dmSans-bold: "DM Sans Bold", sans-serif;

  /* Text Sizes */
  --text-h1-mobile: 45px;
  --text-h2-mobile: 35px;
  --text-h3-mobile: 25px;
  --text-h4-mobile: 18px;
  --text-h5-mobile: 16px;
  --text-paragraph-mobile: 16px;
  --text-h1-desktop: 65px;
  --text-h2-desktop: 55px;
  --text-h3-desktop: 45px;
  --text-h4-desktop: 35px;
  --text-h5-desktop: 26px;
  --text-paragraph-desktop: 16px;
}

body {
  background-color: var(--color-neutral-13);
  color: var(--color-neutral-1);
  font-family: var(--font-dmSans-regular);
}

/* body,
html {
  @apply overflow-x-hidden;
} */
